*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    
}

.container-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    background: rgb(187, 233, 235);
    height: 5vh;
}

.container-navbar{
    background: rgb(5, 68, 104);
    height: 95vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container-navbar li a{
    color: aliceblue;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: larger;
}



